<settings>
<servers>
<server>
<id>ci-cd-credentials</id>
<username>~~~Client~~~</username>
<password>${ci_cd_client_id}~?~${ci_cd_client_secret}</password>
</server>
<server>
<id>anypoint-exchange</id>
<username>~~~Client~~~</username>
<password>${ci_cd_client_id}~?~${ci_cd_client_secret}</password>
</server>
<server>
<id>anypoint-exchange-v2</id>
<username>~~~Client~~~</username>
<password>${ci_cd_client_id}~?~${ci_cd_client_secret}</password>
</server>
<server>
<id>anypoint-exchange-v3</id>
<username>~~~Client~~~</username>
<password>${ci_cd_client_id}~?~${ci_cd_client_secret}</password>
</server>
</servers>
</settings>